/*NavBar*/

*{
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
}


.all
{
background-color: #004d7a;
}

a {
color: #fff !important;
text-decoration: none;
transition: 0.3s;
font-size: 22px;
}

.home
{
width: 30px;
height: 30px;
margin-right: 5px;
margin-bottom: 8px;
}

a:hover {
opacity: 0.7;
}


nav {
display: flex;
justify-content: space-around;
align-items: center;
font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
background: transparent;
height: 8vh;
font-size: 25px;
}


.nav-list {
list-style: none;
display: flex;
font-size: 20px;

}

.nav-list li {
letter-spacing: 3px;
margin-left: 32px;
}

.mobile-menu {
display: none;
cursor: pointer;
}

.mobile-menu div {
width: 70px;
height: 2px;
background: #fff;
margin: 8px;
transition: 0.3s;
}

@media (max-width: 999px) { /*tamanho para mudar*/
body {
overflow-x: hidden;
}
.nav-list {
position: absolute;
top: 8vh;
right: 0;
width: 30vw;
height: 30vh;
background: #00081c;
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
transition: transform 0.3s ease-in;
}
.nav-list li {
margin-left: 0;
opacity: 0;
}
.mobile-menu {
display: block;
}
}

.nav-list.active {
transform: translateX(0);
}

@keyframes navLinkFade {
from {
opacity: 0;
transform: translateX(50px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

body 
{
    background-image: linear-gradient(to bottom, #236CA8 , #194E78 , #041A39 );
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}


.title
{
    color: #d1ef8f;
    font-size: 70px;
    font-weight: bold;
}

.containers
{
    background-color: #d1ef8f ;
    border-radius: 70px;
}

#img
{
    border-radius: 50%;
}

.title1
{
    color: #194e78 ;
    font-weight: bold ;
    font-size: max(50px,3.2vw) ;
}

.text
{
    color: #194e78 ;
    font-weight: bold;
    font-size: max(30px,2vw) ;
}

.icon
{
    height: 30px;
    width: 30px;
}

.text
{
    display: inline ;
}


button
{
border-radius: 50px !important;
border-color: #fff;
width: 200px;
height: 50px;
font-weight: bold;
font-size: 20px !important;
line-height: 25px;
color: #148AAE;
}

.rodape 
{
  background-color: #00081c;
  color: #fff;
  font-size: 25px;
}
